.monthlyGoalForm {
  width: 100%;
}

.completedBadge {
  padding: 4px 8px;
  background: var(--save-redesigned);
  color: var(--light-bg-redesigned);
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
}
